
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap');
:root{
    --clr-light: #fff;
    --clr-dark: black;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 98vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    transition: all 1s ease;
    background-color: var(--clr-light);

}
.dark-mode{
    color:var(--clr-light);
    background-color: var(--clr-dark);
}
.darkbtn{
    color:var(--clr-light);
}
#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    position: fixed;
    background-color: inherit;
}
#logo{
    font-size: 26px;
    letter-spacing: 1.5px;
    font-weight: 500;
    margin: 5px;
}
.btn, .menubtn{
    display: none;
    border: none;
    background: none;
    color: var(--clr-light);
}
.navlist{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
.navlist li{
    list-style: none;
    margin: 10px;
}
.navlist li a{
    text-decoration: none;
    color: #666;
    transition: all 0.5s;
}
.navlist li a:hover,.navlist li a:active{
    color: orangered;
}
.navlist li a img{
    height: 28px;
    width: 28px;
}
.navlist li .themebtn img{
    height: 28px;
    width: 28px;
}

.themebtn{
    width: 38px;
    height: 38px;
    cursor: pointer;
    position: absolute;
    overflow: hidden; 

}
.themebtn.isdark #lighticon{
    position: relative;
    bottom: 30px;
    left: 30px;
}
.themebtn #lighticon{
    position: relative;
}
.themebtn #darkicon{
    position: relative;
    bottom: 0px;
    right: 0px;
}
.themebtn.isdark #darkicon{
    position: relative;
    bottom: 36px;
}

.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;

}
.intro-textbox{
    width: 550px;
    font-size: 38px;
}
.intro-textbox p,.intro-textbox span{
    /* animation */
    width:0;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em; 
    animation: 
        typing 1.5s steps(40, end);
    animation-fill-mode: forwards;
}
.intro-textbox p:nth-child(2){
    animation-delay: 2s;
}
.intro-textbox p:nth-child(2){
    animation-delay: 2s;
}
.intro-textbox span{
    animation-delay: 3.5s;
}
.intro-textbox p:nth-child(4){
    animation-delay: 5s;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.intro-textbox span{
    display: inline-block;
    font-weight: 600;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,145,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    background-clip: text;
}
.section{
    width: 100%;
    height: 100%;
    padding: 75px 30px 10px 30px;
}

.profile-container{
    width: 350px;
    height: 350px;
}

#profile-photo{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.about{
    display: flex;  
    justify-content: center;
    align-items: center;
}
.testing{
    background: gold;
    width: 100%;
    height: 100%;
}
.about-container{
    padding: 20px;
    width: 100%;
}
.about-container h2{
    margin: 20px 0px;
    color: orangered;
}
.about-container .about-me p{
    margin-right: 30px;
    letter-spacing: 1.1px;
}
.education .tile{
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #828282 ;
}
.education .tile h4{
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin: 5px 10px 5px 0px;
}
.education .tile .year{
    display: inline-block;
    font-size: 10px;
}
.education .tile .institute{
    display: inline-block;
    letter-spacing: 1px;
    font-size: 13px;
}

.techstack-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.techstack-container .techstack-heading{
    width: 100%;
    height: 35%;
}
.techstack-container .techstack-heading h2{
    color: orangered;
}
.techstack-container .techstack-heading span{
    display: inline-block;
    margin-top: 6px;
    letter-spacing: 1.2px;
}
.techstack-container .logo-container{
    padding-top: 60px;
    width: 100%;
    height: 75%;
    padding-left: 30px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.techstack-container .logo-container .logo-tile{
    width: 160px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease-in;
}
.techstack-container .logo-container .logo-tile:hover{
    transform: scale(1.2);
}
.techstack-container .logo-container .logo-tile img{
    width: 60%;
    height: 60%;
    filter: brightness(100%);
    filter: contrast(100%); 
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.708));

} 



@media only screen and (min-width: 600px) and (max-width: 992px){
    .menubtn{
        display: inline-block;
        margin: 10px;
        color: var(--clr-dark);
    }
    .darkbtn{
        color:var(--clr-light);
    }
    .navlist{
        width: 50%;
        height: 100vh;
        position: fixed;
        top:0;
        padding-top: 35px;
        z-index: 99;
        justify-content: center;
        align-items: center;
        gap: 60px;
        flex-direction: column;
        background: #131212;
        right: 0;
        left: 100%;
        margin: 0;
    }
    .navlist.isactive{
        left: 50%;
    }
    .navlist li:nth-child(8){
        position: absolute;
        top:0;
        right: 25px;
    }
    .navlist li:nth-child(9){
        position: absolute;
        top:3px;
        left: 15px;
        color: var(--clr-light);
    }
    .close{
        display: inline-block;
        color: var(--clr-light);
    }

    .intro-textbox{
        font-size: 24px;
    }
    .profile-container{
        width: 200px;
        height: 200px;
        
    }
    .techstack-container .logo-container .logo-tile img{
        filter: none;
    }
}
@media only screen and (max-width: 600px){
    .menubtn{
        display: inline-block;
        margin: 10px;
        color: var(--clr-dark);
    }
    .darkbtn{
        color:var(--clr-light);
    }
    .navlist{
        width: 50%;
        height: 100vh;
        position: fixed;
        top:0;
        padding-top: 35px;
        z-index: 99;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex-direction: column;
        background: #131212;
        right: 0;
        left: 100%;
        margin: 0;
    }
    .navlist.isactive{
        left: 50%;
    }
    .navlist li:nth-child(8){
        position: absolute;
        top:0;
        right: 25px;
    }
    .navlist li:nth-child(9){
        position: absolute;
        top:3px;
        left: 15px;
        color: var(--clr-light);
    }
    .close{
        display: inline-block;
        color: var(--clr-light);
    }

    .home{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 50px;
    }
    .intro-textbox{
        width: 350px;
        height: 350px;
        font-size: 18px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile-container{
        width: 200px;
        height: 200px;
        margin-top: 30px;
    }
    .about-container .about-me p{
        font-size: 15px;
        margin: 10px 0px;
    }
    .about-container{
        padding: 10px;
        width: 100%;
    }
    .techstack-container .logo-container{
       padding-top: 20%;
    }
    .techstack-container .logo-container .logo-tile{
        width: 40%;
        height: 30%;
    }
    .techstack-container .logo-container .logo-tile img{
        filter: none;
    }
}
